# Supposedly we want to install a DE, but Xfce seems to tax us a lot of resources
# So we decided to use JWM, with some extra tools
# a file manager (pcmanfm), a terminal (qterminal) and a text editor (l3afpad)
jwm
qterminal
pcmanfm-qt
l3afpad

# Main
calamares-settings-blissos

# Grub theme
#grub-theme-blissos-white-1080p
